header {
background-color: #008000;
height: 100px;
}

footer {
background-color: #5F9EA0;
height: 100px;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}

nav a:hover {
	text-decoration: underline;
}

section {
	display: flex;
	flex-direction: column;
	margin: auto;
}

div.dish {
	display: flex;
	flex-direction: row;
	margin: auto;
}

div.dish p {
	width: 50%;
}

img {
	width: 400px;
	height: auto;
}