header {
background-color: #008000;
height: 50px;
vertical-align: center;
}

footer {
background-color: #5F9EA0;
height: 50px;
vertical-align: center;
}

footer p {
	font-size: 25px;
	text-align: center;
	margin: 0px;
}



nav a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	margin-left: 10px;
}

nav a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	text-align: center;
}

section {
	display: flex;
	flex-direction: column;
	margin: auto;
}

div.dish {
	display: flex;
	flex-direction: row;
	margin: auto;
}

div.dish p {
	text-align: center;
	padding: 50px;
	width: 50%;
	vertical-align: center;
}

img {
	padding: 50px;
	width: 400px;
	height: 267px;
}