header {
background-color: #000066;
height: 50px;
}

nav {
	height: 50px;
	padding-top: 10px;
}

nav a {
	text-decoration: none;
	color: white;
	height: 50px;
	font-size: 25px;
	margin-left: 10px;
	
}

nav a:hover {
	text-decoration: underline;
}

section {
	border: 1px solid #A9A9A9;
	padding: 5px;
	width: 700px;
	height:500px;
}

p.price {
	color: red;
}

section article div img {
	max-width: 400px;
	max-height: 267px;
}

footer {
background-color: #000066;
height: 50px;
vertical-align: center;
}

footer p {
	font-size: 15px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

/**********************************************************************************/
/****************THE END OF LAYOUT FOR SMALL SCREENS******************************/
/**********************************************************************************/

/************************************************************************************/
/****************************LAYOUT FOR MEDIUM SCREENS*******************************/
/************************************************************************************/

@media only screen and (min-width: 37.5em) {
	
	
	
}

/**********************************************************************************/
/****************THE END OF LAYOUT FOR MEDIUM SCREENS******************************/
/**********************************************************************************/

/************************************************************************************/
/****************************LAYOUT FOR LARGE SCREENS*******************************/
/************************************************************************************/

@media only screen and (min-width: 64em) {



}