.row {
	margin-left: 20px;
}

.div {
	font-size: 25px;
	background-color: lavender;
	padding: 20px;
	width: 400px;
}

#div2 {
	background-color: lavenderblush;
}

.div:hover {
	font-weight: bold;
}

#alerttext {
	margin-left: 20px;
	margin-top: 20px;
}

#alert {
	margin-left: 20px;
}

#color {
	margin-left: 20px;
}

#visibilitychange {
	margin: 20px;
}

